# Local
.DS_Store
*.local
*.log*
.env
.mcp.json

# Claude Code
CLAUDE.md
.claude/

# Dist
node_modules
dist/

# Profile
.rspack-profile-*/

# IDE
.vscode/*
!.vscode/extensions.json
.idea
.env

#figma
.zshrc